body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.main-section {
  background: var(--NAVY-BLUE, #2e2f42);
}
.logo {
  text-decoration: none;
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-accent {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-list,
.link {
  text-decoration: none;
  color: var(--NAVY-BLUE, #2e2f42);
  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.32px;
}
.logo-list .link:hover,
.logo-list .link:focus {
  color: #404bbf;
}

.contacts {
  text-decoration: none;
  color: var(--SLATE, #434455);
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.32px;
}
.address {
  color: var(--SLATE, #434455);
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
.contacts .address:hover,
.contacts .address:focus {
  color: #404bbf;
}
.main-title {
  color: var(--WHITE, #fff);
  text-align: center;
  /* Header 1 */
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  /* 107.143% */
  letter-spacing: 1.12px;
}

.button {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  /* Button Text */
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
}
.button:hover,
.button:focus {
  font-family: "Roboto", sans-serif;
  background-color: #404bbf;
}

.third-title {
  color: var(--NAVY-BLUE, #2e2f42);
  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  /* 120% */
  letter-spacing: 0.4px;
}

.section-content {
  color: var(--SLATE, #434455);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.32px;
}
.second-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  background-color: #f4f4fd;

  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.member,
.portfolio-item {
  color: var(--NAVY-BLUE, #2e2f42);
  /* text-align: center; */

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 120% */
  letter-spacing: 0.4px;
}
.team-section {
  background-color: #f4f4fd;
}
.team-card {
  background-color: #ffffff;
}
.position-title,
.portfolio-description {
  color: var(--SLATE, #434455);
  /* text-align: center; */

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
}
.logo-description {
  color: var(--CLOUD, #f4f4fd);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
}
.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  font-family: "Raleway", sans-serif;
}
.logo-bottom {
  color: var(--CLOUD, #f4f4fd);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
